* {
	margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    background-color: #0F0D1D;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

button:focus {
    outline: 0;
}


/* ---------------- NAVIGATION ---------------- */
#nav-svg {
    display: flex;
}

#nav-svg button {
    margin-right: 3px;
}

#menu-container-mobile {
    top: 14px;
    right: 14px;
    position: fixed;
    border: 0;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    z-index: 5;
}

#menu-svg-mobile {
    height: 35px;
}


.svg-container-mobile {
    height: 60px;
    width: 60px;
    background-color: #2C2643;
    border-radius: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-container {
    display: none !important;
}

#menu-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #6565FF;
    border-radius: 100px;
    background-color: #0F0D1D;
    padding: 4px;
    color: white;
    padding-left: 100px;
    transition: ease .2s;
}

#menu-text {
    margin-bottom: 7px;
    transition: ease .5s;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    right: 23px;
    bottom: 10px;
    font-size: 1.4em;
}

#menu-container:hover {
    padding-left: 130px;
}

#git-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #B02D2D;
    border-radius: 100px;
    background-color: #0F0D1D;
    padding: 4px;
    color: white;
    font-weight: 900;
    padding-right: 4px;
    transition: padding-right .3s;
    z-index: 5;
}

#git-text {
    margin: 0 10px;
    font-weight: 900;
    transition: ease .5s;
    position: absolute;
    z-index: -1;
    width: auto;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: width .1s;
}

#git-container:hover #git-text{
    width: 100%;
}

#git-container:hover {
    padding-right: 105px;
}

#linkedin-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #28A735;
    border-radius: 100px;
    background-color: #0F0D1D;
    padding: 4px;
    color: white;
    font-weight: 900;
    padding-right: 4px;
    transition: padding-right .3s;
    z-index: 5;
}

#linkedin-text {
    margin: 0 10px;
    font-weight: 900;
    transition: ease .5s;
    position: absolute;
    z-index: -1;
    width: auto;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: width .1s;
}

#linkedin-container:hover #linkedin-text{
    width: 100%;
}

#linkedin-container:hover {
    padding-right: 120px;
}

#resume-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #FF9900;
    border-radius: 100px;
    background-color: #0F0D1D;
    padding: 4px;
    color: white;
    font-weight: 900;
    padding-right: 4px;
    transition: padding-right .3s;
    z-index: 5;
}

#resume-text {
    margin: 0 10px;
    font-weight: 900;
    transition: ease .5s;
    position: absolute;
    z-index: -1;
    width: auto;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: width .1s;
}

#resume-container:hover #resume-text{
    width: 100%;
}

#resume-container:hover {
    padding-right: 120px;
}

.svg-container {
    height: 40px;
    width: 40px;
    background-color: #2C2643;
    border-radius: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-svg {
    height: 25px;
}

#git-svg {
    height: 25px;
}

#linkedin-svg {
    height: 25px;
}

#resume-svg {
    height: 20px;
}

.modal-dialog {
    box-shadow: none;
}

.navigation-bar {
    display: flex;
    padding: 4% 6%;
}

#nav-menu {
    justify-self: end;
}

.modal-content {
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    background: transparent;
    box-shadow: none !important;
    border: 0 !important;
}

.modal-content ul li {
    text-align: right !important;
    list-style-type: none;
    margin-right: 5%;
}

.modal-content ul li a {
    color: inherit !important;
    font-size: 3em;
    font-weight: 900;
}

.modal-backdrop {
    opacity: .95 !important;
    padding: 0% !important;
    margin: 0% !important;
}

 /* ---------------- LANDING PAGE ---------------- */

 .landing-main-container {
    padding: 6%;
    margin-top: 10%;
}

.landing-text-container h1 {
    font-size: 2.6em;
    margin-bottom: 15%;
    font-weight: 900;
}

.landing-text-container p {
    font-size: 1.5em;
    margin-bottom: 15%;
}

.text-links {
    color: #5B5C80;
}

#aspiring {
    font-weight: bold;
    color: #FFF624;
}

#career-shifter {
    font-weight: bold;
    color: #FF4141;
}

#web-developer {
    font-weight: bold;
    color: #B353FF;
}

.landing-text-container p span a {
    text-decoration: none;
    color: inherit;
}

#linked-in {
    color: #fff;
    border-bottom: 2px solid #0FA9FF; 
    transition: ease .1s;
}

#linked-in:hover {
    color: #0FA9FF;
    padding-bottom: .9%;
}

#download-resume {
    color: #fff;
    border-bottom: 2px solid #FF9900; 
    transition: ease .1s;
}

#download-resume:hover {
    color: #FF9900;
    padding-bottom: .9%;
}

#contact-me {
    color: #fff;
    border-bottom: 2px solid #6AFF5E; 
    transition: ease .1s;
}

#contact-me:hover {
    color: #6AFF5E;
    padding-bottom: .9%;
}

.slider-container {
    height: 350px;
    align-self: center;
}

.slider-container div img {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 380px;
    position: absolute;
}

.slide-1, .slide-2, .slide-3, .slide-4 {
    position: relative;
    border-radius: 20px;
}

.slide-1 {
    animation: fade1 10s infinite;
    -webkit-animation: fade1 10s infinite;
}

@keyframes fade1 {
    0%   {opacity:1}
    25% { opacity: 0}
    50% { opacity: 0}
    75% { opacity: 0}
    100% { opacity: 1}
}

.slide-2 {
    animation: fade2 10s infinite;
    -webkit-animation: fade2 10s infinite;
}

@keyframes fade2 {
    0%   {opacity:0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 0}
    100% { opacity: 0}
}

.slide-3 {
    animation: fade3 10s infinite;
    -webkit-animation: fade3 10s infinite;
}

@keyframes fade3 {
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 0}
}

.slide-4 {
    animation: fade4 10s infinite;
    -webkit-animation: fade4 10s infinite;
}

@keyframes fade4 {
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

.wave-png {
    height: 50px;
    margin: 0px 12px 12px 12px;
    animation-name: wave-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    5% { transform: rotate(14.0deg) }  
    10% { transform: rotate(-8.0deg) }
    15% { transform: rotate(14.0deg) }
    20% { transform: rotate(-4.0deg) }
    25% { transform: rotate(10.0deg) }
    30% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

/* ---------------- SKILLS ---------------- */

.skills-main-container {
    position: relative;
    padding: 6%;
    margin-top: 5%;
}

.skills-hr {
    margin: 0;
    text-align: left;
    border-top: 5px solid #D91F1F;
    width: 100px;
}

.skills-label {
    font-weight: 900;
    color: #5B5C80;
}

.skills-text {
    margin-top: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.skills-text p {
    margin-bottom: 2%;
    font-size: 1.2em;
}

.skills-image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

.skills-image-container img {
    height: auto;
    width: 20%;
    flex-shrink: 0;
    align-self: center;
}

 /* ---------------- PROJECTS ---------------- */

.projects-main-container {
    margin-top: 5%;
}

.projects-main-container h1 {
    padding-left: 6%;
}

.projects-hr {
    margin: 0;
    margin-left: 6%;
    text-align: left;
    border-top: 5px solid #28A735;
    width: 100px;
}

.projects-text-container {
    font-size: 1em;
    padding: 5%;
    min-height: 350px;
}
 
.projects-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.projects-button-container button {
    font-weight: 900;
    font-size: 1em;
    white-space: nowrap;
    border: 2px solid #00D8BE;
    border-radius: 100px;
    padding: 6% 15%;
    color: #5B5C80;
    transition: ease .7s;
    background-color: #0F0D1D;
}

.projects-button-container button:hover {
    background-color: #0F0D1D;
    color: #5B5C80;
    border: 2px solid #00D8BE;
}

#gamebox, #placeholder, #sherpa {
    transition: ease .7s;
}

.btn-gamebox:hover > #gamebox {
    text-shadow:
    0px 0px 5px #EF29B8,
    0px 0px 30px #EF29B8;
}

.btn-placeholder:hover > #placeholder {
    text-shadow:
    0px 0px 5px #FF9900,
    0px 0px 30px #FF9900;
}

.btn-sherpa:hover > #sherpa {
    text-shadow:
    0px 0px 5px #FF4141,
    0px 0px 30px #FF4141;
}

.project-details {
    display: none;
}

.project-carousel {
    height: auto;
    width: 100vw;
    padding: 15% 18% 15%;
}

.projects-image-container img {
    margin-bottom: 5%;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}

#sherpa {
    color: #FF4141;
}

#gamebox {
    color: #EF29B8;
}

#placeholder {
    color: #FF9900;
}

#sherpa-highlight {
    color: #FF4141;
    font-weight: 900;
}

#gamebox-highlight {
    color: #EF29B8;
    font-weight: 900;
}

#placeholder-highlight {
    color: #FF9900;
    font-weight: 900;
}

.tech-used-words {
    color: #00D8BE;
    font-style: italic;
}

.compatibility-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    align-items: center;
    margin-top: 15%;
}

.compatibility {
    color: #5B5C87;
    font-size: .9em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.compatibility-image {
    height: 40px;
}

#non-responsive {
    display: none;
}

 /* ---------------- PERSONAL ---------------- */

.personal-main-container {
    padding: 6%;
}

.personal-hr {
    margin: 0;
    text-align: left;
    border-top: 5px solid #FFE600;
    width: 100px;
}

.personal-main-container h3 {
    margin-top: 15%;
    margin-bottom: 6%;
    margin-left: 2%;
    font-weight: 900;
}

.personal-text-container-1 div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.personal-text-container-2 p {
    text-align: justify;
    text-indent: 30px;
}

.personal-label {
    color: #5B5C80;
    font-weight: 900;
}

#details {
    color: #B02D2D;
}

#about-me {
    color: #5AAD33;
}

 /* ---------------- CONTACT ---------------- */

 .contact-main-container {
    padding: 6%;
    margin-top: 10%;
 }

 .contact-main-container h1, .contact-hr {
    display: none;
 }

 .contact-hr-2 {
    margin: 4% 0%;
    text-align: left;
    border-top: 6px solid #E126AD;
    width: 90px;
 }

 .contact-text-container {
    margin-bottom: 10%;
 }

 .contact-text-container h2 {
    font-size: 2.5em;
    font-weight: 900;
 }

 .contact-text-container p {
    color: #5B5C80;
    font-weight: 900;
 }

 .contact-buttons-container {
    margin-top: 15%;
    font-size: 1.3em;
    margin-bottom: 20%;
 }

 label {
    font-weight: 900;
 }

 input, textarea {
    background-color: #28233D !important;
    border: 0 !important;
 }

 #form-button {
    background-color: #E126AD;
    border: 0 !important;
    border-radius: 90px;
    padding: 2% 8% !important;
    font-weight: 900;
    color: white;
    transition: .5s;
    display: block;
 }
 
 #form-button:hover {
    padding: 2% 10% !important;
 }
 
.text-links-desktop {
    display: none;
}

.find-me {
    font-weight: 900;
}

.find-me span a {
    text-decoration: none;
    color: inherit;
}

#contact-linked-in {
    font-weight: normal !important;
    color: #fff;
    border-bottom: 2px solid #0FA9FF !important; 
    transition: ease .1s;
}

#contact-linked-in:hover {
    color: #0FA9FF;
    padding-bottom: .9%;
}

#contact-download-resume {
    font-weight: normal !important;
    color: #fff;
    border-bottom: 2px solid #FF9900;
    transition: ease .1s;
}

#contact-download-resume:hover {
    color: #FF9900;
    padding-bottom: .9%;
}

input, textarea {
    color: white !important;
}

  /* ---------------- FOOTER ---------------- */

.footer-main-container h6 {
    text-align: center;
    font-size: .75em;
    font-weight: 900;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: .75em;
    margin: 0% 15%;
    margin-bottom: 10%;
    color: #5B5C80;
    font-weight: 900;
}

.footer-buttons li a {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
    transition: ease .3s;
}

.footer-main-container h6 {
    color: #515278;
}

.my-name {
    color: #6467A5;
}

 /* ---------------- MEDIA QUERIES ---------------- */

@media (min-width: 640px) {

    /* ---------------- NAVIGATION ---------------- */

    #nav-svg button {
        margin-right: 5px;
    }

    .navigation-bar {
        padding: 4% 8%;
    }

    .svg-container {
        height: 50px;
        width: 50px;
    }

    #menu-container-mobile {
        display: none;
    }

    #menu-container {
        display: block !important;
    }
    
    .modal-content {
        height: 100vh;
        width: 60vw;
    }

    .modal-content ul li {
        width: 100%;
        text-align: right !important;
        transition: ease .15s;
    }

    .modal-content ul li:hover {
        padding-right: 4%;
    }

    .modal-content ul li a {
        font-size: 3.5em;
        text-decoration: none;
    }

    .fa-bars {
        display: none;
    }

    .menu {
        display: block;
    }
    
    .nav-home:hover {
        color: #D91F1F;
    }

    .nav-skills:hover {
        color: #28A735;
    }

    .nav-projects:hover {
        color: rgb(163, 83, 255);
    }

    .nav-about:hover {
        color: #00D8BE;
    }

    .nav-contact:hover {
        color: #FFD600;
    }

    .nav-back:hover {
        color: rgb(0, 141, 223);
    }

    #git-container:hover #git-text{
        padding-left: 15px;
    }
    
    #linkedin-container:hover #linkedin-text{
        padding-left: 15px;
    }
    
    #resume-container:hover #resume-text{
        padding-left: 15px;
    }

     /* ---------------- LANDING PAGE ---------------- */

    .landing-main-container {
        padding: 6%;
        margin-top: 0%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .landing-text-container {
        align-self: center;
    }

    .landing-text-container h1 {
        margin-bottom: 5%;
    }

    .landing-text-container p {
        font-size: 1.5em;
        margin-bottom: 5%;
    }

    /* ---------------- SKILLS ---------------- */

    .skills-main-container {
        padding: 6%;
        margin-top: 0%;
        font-size: 1.3em;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
        margin-top: 5%;
    }

    .skills-text {
        margin-top: 2%;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
    }

    .skills-image-container {
        margin-top: 0%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills-image-container img {
        height: auto;
        width: 100%;
        max-width: 180px;
        justify-self: center;
        align-self: center;
    }

    #js-logo {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 50%;
        align-self: flex-start;
        padding: 2.5%;
    }

     /* ---------------- PROJECTS ---------------- */

    .project-details {
        display: block;
    }
     
    .projects-main-container {
        margin-top: 0%;
    }

    .project-carousel {
        padding: 50px 0 0;
    }

    .projects-text-container {
        display: flex !important;
        margin-top: 30px;
        flex-direction: column;
        font-size: 1.2em;
        padding: 0% 20%;
        min-height: 700px;
    }

    .projects-image-container {
        display: flex;
        justify-content: center;
        height: auto;
        padding: 0% 15%;
    }

    .projects-image-container img {
        margin-bottom: 0%;
        border-radius: 20px;
        align-self: center;
    }

    .projects-button-container {
        margin-top: 50px;
    }

    .projects-button-container button {
        font-size: 1.3em;
        padding: 20px 90px;
        font-weight: 900;
        border: 3px solid #00D8BE;
        color: #5B5C80;
        transition: .7s;
    }

    .projects-button-container button:hover {
        background-color: #0F0D1D;
        color: #5B5C80;
        border: 3px solid #00D8BE;
        box-shadow: 
        0px 0px 25px #286860;
    }

    .tech-used {
        color: #515278;
        font-style: italic;
        font-weight: 900;
    }

    .project-title {
        font-weight: 900;
        font-size: 2em;
    }

    #sherpa-hr {
        margin: 0;
        border-top: 5px solid #FF4141;
        width: 140px;
        margin-bottom: 4%;
    }

    #gamebox-hr {
        margin: 0;
        border-top: 5px solid #EF29B8;
        width: 140px;
        margin-bottom: 4%;
    }

    #placeholder-hr {
        margin: 0;
        border-top: 5px solid #FF9900;
        width: 140px;
        margin-bottom: 4%;
    }

    #non-responsive {
        display: flex;
    }

    .compatibility-container {
        display: none;
    }

     /* ---------------- PERSONAL ---------------- */

     .personal-grid {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-gap: 20px;
     }

     .personal-main-container h3 {
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 2%;
        font-weight: 900;
    }

    .text-links-desktop {
        display: block;
    }

     /* ---------------- CONTACT ---------------- */

    .contact-buttons-container {
        display: none;
    }

    .contact-main-container h1, .contact-hr {
        display: block;
     }

    .contact-main-container {
        padding: 6%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin-top: 5%;
    }

    .contact-text-container {
        padding: 0% 5%;
    }

    .contact-text-container h2 {
        font-size: 3em;
    }

    .contact-text-container p {
        color: #5B5C80;
        font-size: 1.3em;
    }

    .form-button {
        padding: 1.5% 5% !important;
    }

     /* ---------------- FOOTER ---------------- */
    .footer-buttons {
        margin: 0% 35vw;
        margin-bottom: 4%;
    }
}

@media (min-width: 1280px) {

    /* ---------------- NAVIGATION ---------------- */

    .navigation-bar {
        padding: 2% 22%;
    }

    /* ---------------- LANDING PAGE ---------------- */

    .landing-main-container {
        padding: 6% 20%;
    }

    .landing-main-container h1 {
        font-size: 3.4em;
    }

    /* ---------------- SKILLS ---------------- */

    .skills-main-container {
        padding: 6% 20%;
    }

    /* ---------------- PROJECTS ---------------- */

    .projects-main-container h1 {
        padding-left: 20%;
    }

    .projects-text-container {
        padding: 0% 30%;
        min-height: 600px;
    }

    .projects-image-container img {
        max-width: 700px;
    }

    .projects-hr {
        margin-left: 20%;
    }

    /* ---------------- PERSONAL ---------------- */

    .personal-main-container {
        padding: 6% 20%;
    }

    /* ---------------- CONTACT ---------------- */

    .contact-main-container {
        padding: 6% 20%;
        margin-top: 0%;
        margin-bottom: 5%;
    }
}
